* {
  font-family: 'Noto Sans KR', sans-serif;
}
.text-area {
  margin: 200px;
  margin-top: 124px;
  margin-bottom: 100px;
  text-align: center;
  border-bottom: 0.0625rem solid #d1d1d1;
}

.text-area .desc {
  margin-top: 12px;
}

.goMyPage {
  position: absolute;
  top: 30px;
  right: 26px;
}

.card {
  position: relative;
  width: 600px;
}

.head-title {
  /* border-bottom: 0.0625rem solid #f2f2f2; */
}
h1.head-title {
  padding-bottom: 75px;
}
.card-img-top {
  height: 10rem;
  object-fit: cover;
}

.card {
  width: 18rem;
  margin-bottom: 10rem;
}
