.text-area {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  margin-top: 124px;
  margin-bottom: 100px;
  text-align: center;
  border-bottom: 0.0625rem solid #d1d1d1;
}
.goMyPage {
  position: absolute;
  top: 30px;
  right: 26px;
}
li {
  position: absolute;
  text-align: center;
  top: 120px;
}
.text-area {
  margin: 24px;
  margin-top: 124px;
  margin-bottom: 100px;
  text-align: center;
  width: auto;
}

.list {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate(-50%, -50%);
}

ul {
  padding: 0;
  margin: 0;
}

.item {
  padding: 17px 24px 20px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  position: relative;
}

/* 리스트 시작 */
.item .num {
  width: 30px;
  height: 28px;
  background-color: #caffef;
  color: #485762;
  border-radius: 50%;
  padding: 3px 10px;
  box-sizing: border-box;
  margin-right: 20px;
}

/* 리스트 설명 */
.item .title {
  font-size: 17px;
}

.item .desc {
  font-size: 13px;
  opacity: 0.7;
}
